* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* clamp(menor valor, valor ideal, maior valor) */
  font-size: clamp(40%, 1% + 2vw, 62.5%);

  --hue: 194;
  --bg-color: hsl(var(--hue), 5%, 7%);
  --text-color: hsl(var(--hue), 40%, 98%);
  --primary-color: hsl(var(--hue), 100%, 63%);
  --controls-bg-color: hsl(var(--hue), 0%, 14%);
  --button-secondary: hsl(var(--hue), 40%, 98%);
}

html.light {
  --bg-color: hsl(var(--hue), 40%, 98%);
  --text-color: hsl(var(--hue), 5%, 7%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

.toggle-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--text-color);

  display: grid;
  height: 100vh;
  place-content: center;
}

#app {
  display: grid;
  justify-items: center;
}

.flex {
  display: flex;
}

#timer {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 9.6rem;
}

#controls {
  margin-top: 1.6rem;
  padding: 2.2rem 4rem;
  gap: 1.6rem;
  background-color: var(--controls-bg-color);
  border-radius: 999rem;
}

button {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 6.4rem;
  cursor: pointer;
}

.secundary {
  color: var(--text-color);
}

/* Quando tiver com a class running vai pegar a outra class */
.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
/* Quando não tiver a class stop vai executar a regra*/
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
  display: none;
}

/* Utilitários são configurações que podemos reutilizar outras vezes no meu código, esse sr-only vai ser utilizados para acessibilidade, onde vai esconder a descrição, mais vai aparecer no leitor de tela*/
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0;
  margin: 0;
  appearance: none;
}